<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">Admin Portal</h1>
      <p class="lead">Edit events and view reservations.</p>

      <!-- tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Edit Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">View Reservations</a>
        </li>
      </ul>
      <!-- tab content -->
      <div class="tab-content" id="myTabContent">

        <!-- edit event -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="card-body">
            <div class="col-lg-8 mx-auto">
              <!-- description -->
              <h3 class="mt-5">Edit Event</h3>
              <p class="lead">Update event to display.</p>
              <!-- form -->
              <form id="edit-form">
                <div class="form-group">
                  <label for="inputName">Event Title</label>
                  <input id="form-title" type="text" class="form-control" id="inputTitle" placeholder="Title" required>
                </div>
                <div class="form-group">
                  <label for="inputText">Description</label>
                  <textarea id="form-desc" class="form-control" id="inputText" rows="3" placeholder="Description"></textarea>
                </div>
                <!-- date picker -->
                <div class="form-group">
                  <label for="datepicker">Time Slots</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" name="datepicker" required>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" onclick="addTimeSlot();">ADD</button>
                    </div>
                  </div>
                </div>
                <div class="form-group overflow-auto" style="max-height: 500px">
                  <ul id="timeslot" class="list-group">
                    <!-- timeslots goes here -->
                  </ul>
                </div>
                <div class="form-group">
                  <input class="form-check-input" type="checkbox" value="" id="form-disable">
                  <label class="form-check-label" for="form-disable">
                    Disable (check to make form unavailable to user)
                  </label>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
            </div>
          </div>
        </div>

          <!-- view reservations -->
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="card-body">
            <div class="col-lg-auto">
              <!-- description -->
              <h3 class="mt-5">Reservations</h3>
              <p class="lead">View Appointments with Clients.</p>
              <!-- export -->
              <div class="row mb-3">
                <div class="col">
                  <div class="input-group d-flex justify-content-center">
                    <input class="text-center" type="text" name="datefilter" value="" />
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" onclick="queryDate();">Query</button>
                      <button class="btn btn-outline-secondary" type="button" onclick="exportQuery();">Export</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- table -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">City</th>
                    <th scope="col">Child Name</th>
                    <th scope="col">Child Grade</th>
                    <th scope="col">Child Nationality</th>
                    <th scope="col">Reservation</th>
                    <th scope="col">Expired</th>
                  </tr>
                </thead>
                <tbody id="reserve-list">
                  <!-- populate reserve-list -->
                </tbody>
              </table>
              <div id="reserve-status"></div>
              <!-- paginate -->
              <ul id="paginator" class="pagination justify-content-center">
                <!-- populate paginator -->
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
