<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pacific american school's online reservation system.">
    <meta name="author" content="Steven Wang">

    <title>PAS Reservation Portal</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '580979382526617');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=580979382526617&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    <script>
      fbq('track', 'CompleteRegistration', {
        value: 1,
        currency: 'NTD',
      });
    </script>
    <!-- Global site tag (gtag.js) - Google Ads: 946234860 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-946234860"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-946234860');
    </script>
    <script>
      gtag('event', 'conversion', {'send_to': 'AW-946234860/LJ9FCLrcrMABEOzLmcMD'});
    </script>

  </head>
  <body class="h-100">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="/reserve/home">PAS Reservation Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/reserve/home">Events
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reserve/admin">Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-sm-6 mx-auto">
          <h1 class="text-center" style="font-size:6vw;">
          <% if (status) { %>
            <%= 'Reservation Success!' %>
          <% } else { %>
            <%= 'Reservation Failed!' %>
          <% } %>
          </h1>
          <p class="lead text-center">
            An e-ticket has been sent to your email address. Please present
            the e-ticket upon your arrival for confirmation. We're looking foward to meeting you!
            <br>
            <a href="/reserve/home">Return</a>
          </p>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="mt-5 py-5 bg-dark static-bottom">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Steven Wang @2020</p>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
