<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">Reserve a seat today!</h1>
      <p class="lead">Opened events will be listed below for reservation!</p>

      <!-- form container -->
        <div class="card">
          <div class="card-body">
          <div class="col-lg-8 mx-auto">
            <!-- description -->
            <h3 id="form-title" class="mt-5"></h3>
            <p id="form-desc" class="lead"></p>
            <!-- form -->
            <form id="reserve-form">
              <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Name" required>
              </div>
              <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
              </div>
              <div class="form-group">
                <label for="inputPhone">Telephone</label>
                <input class="form-control" type="tel" placeholder="09-xxxxxxxx" id="inputPhone" required>
              </div>
              <div class="form-group">
                <label for="inputCity">City</label>
                <input class="form-control" type="text" placeholder="ex: Taipei" id="inputCity" required>
              </div>
              <div class="form-group">
                <label for="inputCName">Child Name</label>
                <input class="form-control" type="text" placeholder="Child name" id="inputCName" required>
              </div>
              <div class="form-group">
                <label for="inputCGrade">Child Grade</label>
                <select id="inputCGrade" class="custom-select" required>
                  <option value="K1">K1</option>
                  <option value="K2">K2</option>
                  <option value="G1">G1</option>
                  <option value="G2">G2</option>
                  <option value="G3">G3</option>
                  <option value="G4">G4</option>
                  <option value="G5">G5</option>
                  <option value="G6">G6</option>
                  <option value="G7">G7</option>
                  <option value="G8">G8</option>
                  <option value="G9">G9</option>
                  <option value="G10">G10</option>
                  <option value="G11">G11</option>
                  <option value="G12">G12</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputCNation">Child Nationality</label>
                <input class="form-control" type="text" placeholder="ex: TW,US" id="inputCNation" required>
              </div>
              <div class="form-group">
                <label for="reportrange">Available Time</label>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Time
                  </button>
                  <div id="timeslot" class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <!-- populate timeslot -->
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
              <small class="form-text text-muted">We'll never share your information with anyone else.</small>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
